<nav class="navbar footer-position navbar-expand navbar-light bg-light">
  <div class="navbar-text m-auto">
    &copy; 2018, Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>️ by <a href="http://timx.me">Tim Xiao</a>. All right reserved.
  </div>

  <div class="navbar-text m-auto">
    <span class="footer-icon">
        <i class="fa fa-github fa-lg" aria-hidden="true" onclick="window.location='https://github.com/timxzz';"></i>
        <i class="fa fa-linkedin-square fa-lg" aria-hidden="true" onclick="window.location='https://www.linkedin.com/in/timxzz';"></i>
    </span>
  </div>
</nav>
