<div class="container-fluid demo-padding">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row justify-content-center" *ngIf="errors?.length > 0" [@errorAnimation]>
        <div class="alert alert-warning" role="alert">
          {{ errors[0] }}
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="loading" [@errorAnimation]>
        <div class="alert alert-success" role="alert">
          It might take up to a minute, as the backend is only a small droplet on DigitalOcean.
        </div>
      </div>


      <div class="row justify-content-center">
        <div class="col-auto face-col input-image"
             (mouseover)="mouseEventOnUpload($event)" (mouseout)="mouseEventOnUpload($event)"
             (mousedown)="imageInput.click()">

          <img [src]="faces[0].image" alt="in" class="img-thumbnail image_holder_128x128"
               [ngClass]="{'input-image-active': !hoverOnUpload, 'input-image-not-active': hoverOnUpload}">
          <i class="fa fa-plus fa-5x plus-icon" aria-hidden="true"
             [ngClass]="{'plus-icon-active': hoverOnUpload, 'plus-icon-not-active': !hoverOnUpload}"></i>
          <input type="file" class="upload-image" (change)="onFileChange($event)" accept="image/*" #imageInput>
        </div>

        <div class="col-auto">
          <div class="the-arrow">
            <i *ngIf="!loading" class="fa fa-arrow-right fa-4x submit-image" aria-hidden="true" style="padding: 10px;"
               (mousedown)="onSubmit()"></i>
            <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          </div>
        </div>

        <div class="col-auto face-col">
          <img [src]="faces[1].image" alt="in" class="img-thumbnail image_holder_128x128">
        </div>
        <div class="col-auto face-col">
          <img [src]="faces[2].image" alt="in" class="img-thumbnail image_holder_128x128">
        </div>
        <div class="col-auto face-col">
          <img [src]="faces[3].image" alt="in" class="img-thumbnail image_holder_128x128">
        </div>
        <div class="col-auto face-col">
          <img [src]="faces[4].image" alt="in" class="img-thumbnail image_holder_128x128">
        </div>
        <div class="col-auto face-col">
          <img [src]="faces[5].image" alt="in" class="img-thumbnail image_holder_128x128">
        </div>
        <div class="col-auto face-col">
          <img [src]="faces[6].image" alt="in" class="img-thumbnail image_holder_128x128">
        </div>
        <div class="col-auto face-col">
          <img [src]="faces[7].image" alt="in" class="img-thumbnail image_holder_128x128">
        </div>
      </div>
    </div>
  </div>
</div>
