.container {
  background-color: white;
}

.main-content {
  word-wrap: break-word;
  max-width: 64rem;
  padding: 2rem 1rem;
  margin: 0 auto;
  font-size: 1.1rem;
  box-sizing: border-box;
  color: #606c71;
}

@media (min-width: 768px) {
  .main-content {
    padding: 2rem 6rem;
  }
}


.main-content img {
  max-width: 100%;
}

.main-content h2 {
  color: #49494c;
  padding-top: 20px;
  padding-bottom: 10px;
}

.screencast {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.screencast iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
