<div class="container-fluid main-content">
  <div class="container">
    <div class="top-banner">
      <h1>Facial Expression Modifier</h1>
      <p class="lead">by Tim Xiao</p>
      <p class="lead">Based on Generative Adversarial Networks</p>
    </div>
  </div>

  <app-demo></app-demo>

  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col project-links">
        <a href="pdf/Third_Year_Project_Report.pdf" class="btn btn-secondary" target="_blank">Read the report</a>
        <a href="https://github.com/timxzz/GANs" class="btn btn-secondary" target="_blank">View on GitHub</a>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div class="point-down">
    <i class="fa fa-angle-down fa-3x point-down-icon" aria-hidden="true"></i>
  </div>
</div>

<app-doc></app-doc>

<app-footer></app-footer>
