/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

html, body, .main-content {
  height: 100%;
  font-family: karlaregular,sans-serif;
}


.footer-position {
  clear: both;
  position: relative;
  z-index: 10;
}
